# dependencies
node_modules/

# next
.next/
out/

# cloudflare / opennext
.open-next/
.wrangler/

# env
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
tsconfig.tsbuildinfo

# system
.DS_Store
Thumbs.db
